aiodns
aiohttp
aiohttp_session
https://github.com/messa/aiohttp-session-mongo/archive/master.zip#egg=aiohttp-session-mongo==0.0.1
bcrypt
cchardet
markdown
motor
PyYAML==4.2b4
requests
requests_oauthlib
simplejson
