graphql-core==2.2.1
graphql-server-core==1.1.1
aiohttp
#graphql-core<3
graphql-ws
aiohttp-graphql
aiodns
aiohttp_session
aiohttp-session-mongo
bcrypt
cchardet
markdown
motor
PyYAML>=5.3
requests
requests_oauthlib
simplejson
https://github.com/daGrevis/mdx_linkify/archive/master.zip#egg=mdx_linkify==1.4
