html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-size: 15px;
  font-family: Lato, sans-serif;
  color: #333;
  background: #fff;
  /*
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  */
}

a {
  xcolor: #c03;
  color: #C51162;
}
a.thin {
  font-weight: 300;
}
a:hover {
  text-decoration: underline;
  color: #e06;
}

h2 {
  font-weight: 300;
  color: #024;
}

h4, h4:first-child {
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}

.ui.button {
  margin-right: 0.8em;
}

table.ui.table.admin thead th {
  font-size: 80%;
  text-transform: uppercase;
  border-bottom: 1px solid #900;
  color: #900;
  padding-bottom: 4px;
}

table.admin pre,
table.admin code {
  font-family: consolas, hack, terminus, monospace;
  font-size: 12px;
}

pre.debug {
  font-size: 10px;
  line-height: 13px;
  color: #999;
  margin-top: 5rem;
  margin-bottom: 2rem;
  white-space: pre-wrap;
}
